
    <div class="container w-50" style='padding: 1rem;'>
        <div class="row">
            <h4>Calculator Homepage</h4>
        </div>
    
        <div class='border border-2 mt-2'>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <input class='btn btn-primary w-50 h-auto py-1 m-2'(click)="fixeddepositecalculator()" type='button' #btn1
                        value='Fixed Deposit Calculator'>
                </div>
            </div>
        
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <input class='btn btn-primary w-50 h-auto py-1 m-2' (click)="recurringDepositeCalculator()" type='button' #btn2
                        value='Recurring Deposit Calculator' >
                    
               </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <input class='btn btn-primary w-50 h-auto py-1 m-2' type='button' #btn
                        value='Fixed Deposit Closure Calculator'>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <input class='btn btn-primary w-50 h-auto py-1 m-2' type='button' #btn4
                        value='Recurring Deposit Closure Calculator'>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <input class='btn btn-primary w-50 h-auto py-1 m-2' type='button' #btn5
                        value='Income Tax Calculator for Self Employed'>
                </div>
            </div>
        </div>
    </div>
   


